
@font-face {
    font-family: "BYekan";
    src: url("../fonts/BYekan-webfont.eot") format("eot"),
        url("../fonts/BYekan-webfont.ttf") format("truetype"),
        url("../fonts/BYekan-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Vazir-Bold";
    src: url("../fonts/Vazir-Bold.eot") format("eot"),
        url("../fonts/Vazir-Bold.ttf") format("truetype"),
        url("../fonts/Vazir-Bold.woff") format("woff"),
        url("../fonts/Vazir-Bold.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}