
body {
    /*direction: rtl;*/
    font-family: "BYekan", serif !important;
    font-size: 18px !important;
}
* {
    transition: all 1s;
    -webkit-transition: all 1s;
}

.expand-opacity-animation {
    opacity: 1;
    -webkit-transition: opacity 0.25s ease-in-out;
    transition: opacity 0.25s ease-in-out;
}

.expand-opacity-animation:hover {
    opacity: 0.5;
    color: darkgreen;
}

.btn-animation{
    width: 100%;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
.btn-animation:hover{
    width: 85%;
}

.expandable-textbox{
    margin-left:auto;
    margin-right: auto;
    width: 60%;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
.expandable-textbox:focus{
    width: 100%;
}

.expandable-button{
    margin-left:auto;
    margin-right: auto;
    width: 80%;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
.expandable-button:hover{
    width: 100%;
}

.variation {
    float: left;
}
.variation-select {
    font-size: 16px;
    cursor: pointer;
}

.rating > input {
    display: none;
}

.rating {
    display: inline-block;
    border: 0;
}

.rating > .star {
    float: right;
}

.rating > .star:before {
    display: inline-block;
    font-size: 1.1rem;
    font-family: FontAwesome, serif;
    content: "\f005";
    margin: 0;
    padding: 0.3rem 0.2rem;
    cursor: pointer;
}

.rating > .half:before{
    content: "\f089";
    position: absolute;
    padding-right: 0;
}

input:checked ~ .star, .star:hover ~ .star {
    color: #ffb503;
}

/* highlight hover for previous rate */
input:checked + .star:hover, input:checked ~ .star:hover, input:checked ~ .star:hover ~ .star,
    .star:hover ~ input:checked ~ .star
{
    color: #cc9000;
}
.comment {
    border-radius: 15px 15px 0 0;
}
.comment:hover {
    opacity: 0.7;
}

#newAvatarPreview {
    opacity: 0;
    transition: opacity 1.5s;
    -webkit-transition: opacity 1.5s;
}
#leftArrowIcon {
    transition: opacity 0.2s;
    -webkit-transition: opacity 0.2s;
    font-size: 7rem;
    opacity: 0;
}

.btn-shaking {
    margin: auto;
}
.btn-shaking:hover {
    animation: shake-anim 0.5s linear infinite;
}

.txt-shaking {
    margin: auto;
    transition: background-color 2s;
}
.txt-shaking:hover {
    background: royalblue;
}
.txt-shaking:focus {
    animation: shake-anim 0.5s linear infinite;
}

@keyframes shake-anim{
    0%{
        width: 100%;
    }
    50% {
        width: 90%;
    }
    100%{
        width: 100%;
    }
}

ul.product-image-thumbnail {
    margin: 0 auto;
    padding: 0;
    float: right;
}

ul.product-image-thumbnail li {
    list-style: none;
    margin: 10px;
}

ul.product-image-thumbnail li img {
    width: 80px;
    height: 80px;
    border: 1px solid coral;
    border-radius: 10px;
}

ul.product-image-thumbnail li img:hover {
    opacity: 0.6;
}


@keyframes rainbow-animation {
    to {
        filter: hue-rotate(0deg);
    }
    from {
        filter: hue-rotate(360deg);
    }
}
.pheelstyle-banner {
    font-size: 70px;
    text-emphasis: "☻";
    -webkit-text-stroke: 2px rgba(0, 0, 0, 0.884);
    color: red;
    background-color: white;
    text-align: center;
    animation: rainbow-animation 500ms linear infinite;
    transition: transform 500ms ease-in;
    cursor: pointer;
    
}
@media (max-width: 768px) {
    .pheelstyle-banner {
        font-size: 60px;
    }
}

@media (max-width: 600px) {
    .pheelstyle-banner {
        font-size: 50px;
    }
}

@media (max-width: 400px) {
    .pheelstyle-banner {
        font-size: 40px;
    }

}

@media (max-width: 360px) {
    #category-button {
        display: none;
    }
}
.pheelstyle-banner:hover {
    transform: scale(1.2);
}
.pheelstyle-banner:first-letter {
    font-size: 250%;
    color: purple;
}
