<div class="col-lg-3 my-2">
    <!--   SIDEBAR   -->
    <ul class="list-group text-right px-0">
        <a class="list-group-item active" href="#"> کیستی؟ </a>
        <a class="list-group-item" href="#"> زد و بندها </a>
        <a class="list-group-item" href="#"> پروفایل </a>
        <a class="list-group-item" href="#"> تغییر رمزشب </a>
        <br />
        <a class="btn btn-outline-danger btn-block text-right list-group-item" href="{% url 'logout' %}">
            <span class="row text-dark">
                <span class="col-6">
                    اوکی بای!
                </span>
                <span class="col-6 text-left">
                    <i class="fa fa-power-off"></i>
                </span>
            </span>
        </a>
    </ul>
    <!--   SIDEBAR .//END   -->
</div>