{% extends 'layout.html' %}
{% load static %}

{% block content %}
    <section class="section-content padding-y bg">
        <div class="container">

        <!-- ============================ COMPONENT 1 ================================= -->
            <div style="border-radius: 5px" class="card">
                <div class="row no-gutters">
                    <aside class="col-lg-6">
                        <article class="gallery-wrap my-4 mx-4">
                            <div class="img-big-wrap imagePreview">
                               <a href="#"><img src="{{ this_product.image.url }}"></a>
                            </div> <!-- img-big-wrap.// -->

                        </article> <!-- gallery-wrap .end// -->
                        <ul class="product-image-thumbnail">
                            <li>
                                {% for item in gallery %}
                                    <a href="{{ item.image.url }}" target="imagePreview"><img src="{{ item.image.url }}" alt="عکس کالا" /></a>
                                {% endfor %}
                            </li>
                        </ul>
                    <script>
                        $(document).ready(function() {
                            // implement the image preview change when clicking on a thumbnail
                            $('.product-image-thumbnail a').click(function(event) {
                                event.preventDefault();
                                $('.imagePreview img').attr('src', $(this).attr('href'))

                            })
                        })
                    </script>
                    </aside>
                    <main class="col-lg-6 border-left text-right">
                        <form method="POST" action="{% url 'take_product' this_product.ID %}" >
                            {% csrf_token %}
                            <article class="content-body">

                                <h2 class="title">{{ this_product }}</h2>
                                <hr />
                                <div class="row mb-3">
                                    <div class="col-lg-6 col-md-6 col-12 text-right">
                                        قیمت:
                                        <var class="price h4">{{ this_product.price }} تومن</var>
                                    </div>
                                    <div dir="rtl" class="col-lg-6 col-md-6 col-12 text-left">
                                        امتیاز:
                                        <b style="color:coral">{{ this_product.rating }}</b>
                                    </div>
                                </div>
                                <p>{{ this_product.description }}</p>
                                <hr>
                                <div dir="ltr" class="row justify-content-center text-center">
                                    <div>
                                        <h6>انتخاب رنگ</h6>
                                        <div class="btn-group btn-group-sm btn-group-toggle" data-toggle="buttons">
                                         {% for v_color in this_product.variation_set.by_color %}
                                            {% if v_color.stock > 0 %}
                                                <label style="font-size: 16px;" class="btn btn-light variation-select">
                                                        <input type="radio" name="color" value="{{v_color.value.lower}}">
                                                        {{ v_color.value }}
                                                        {% if v_color.stock > 3 %}
                                                            <span class="badge pill badge-success mx-1 variation"> {{ v_color.stock }} </span>
                                                        {% elif v_color.stock > 1 %}
                                                            <span class="badge pill badge-warning mx-1 variation"> {{ v_color.stock }} </span>
                                                        {% else %}
                                                            <span class="badge pill badge-danger mx-1 variation"> {{ v_color.stock }} </span>
                                                        {% endif %}
                                                </label>
                                            {% endif %}
                                        {% endfor %}
                                        </div>
                                    </div>
                                </div> <!-- row.// -->
                                <div class="mx-5 px-5"> <hr /> </div>
                                <div dir="ltr" class="row justify-content-center text-center">
                                    <div class="item-option-select">
                                        <h6>انتخاب سایز</h6>
                                        <div class="btn-group btn-group-sm btn-group-toggle" data-toggle="buttons">
                                         {% for v_size in this_product.variation_set.by_size %}
                                             {% if v_size.stock > 0 %}
                                                 <label style="font-size: 16px;" class="btn btn-light variation-select">
                                                        <input type="radio" name="size" value="{{v_size.value.lower}}">
                                                        {{ v_size.value }}
                                                        {% if v_size.stock > 3 %}
                                                            <span class="badge pill badge-success mx-1 variation"> {{ v_size.stock }} </span>
                                                        {% elif v_size.stock > 1 %}
                                                            <span class="badge pill badge-warning mx-1 variation"> {{ v_size.stock }} </span>
                                                        {% else %}
                                                            <span class="badge pill badge-danger mx-1 variation"> {{ v_size.stock }} </span>
                                                        {% endif %}
                                                  </label>
                                             {% endif %}
                                          {% endfor %}
                                        </div>
                                    </div>
                                </div> <!-- row.// -->
                                <hr>
                                {% comment %} {% if this_product.stock <= 0  %}
                                    <button disabled class="btn btn-block btn-dark expandable-button">تا دسته فروش رفت</button> {% endcomment %}

                                {% if not this_product.available %}
                                    <button disabled class="btn btn-block btn-danger expandable-button">موجود نیست هنوز</button>
                                {% else %}
                                    <button type="submit" class="btn btn-lg btn-block btn-primary btn-shaking">نظرمه</button>
                                {% endif %}
                                <!--<a href="./product-detail.html" class="btn  btn-primary"> <span class="text">Add to cart</span> <i class="fas fa-shopping-cart"></i>  </a> -->
                             </article> <!-- product-info-aside .// -->
                        </form>
                    </main> <!-- col.// -->
                </div> <!-- row.// -->
            </div> <!-- card.// -->
            <br>
            <div class="row text-center mt-5">
                <h1 class="col">
                     Philan Bisar Section
                </h1>
            </div>
            <div class="row">
                <div class="col-12 text-right">
                    <form action="{% url 'post_review' this_product.id %}" method="POST">
                        {% csrf_token %}
                        {% include 'includes/toast.html' %}
                        <div dir="rtl" class="box mb-3 bg-transparent">
                            {% if user.is_authenticated %}
                                <textarea id="comment" name="comment" rows="4" class="form-control" placeholder="نظرت؟"></textarea>
                                <br />
                                <div class="row mt-2">
                                    <div class="col-lg-8 col-md-7 col-4 text-left mt-1">
                                        از 5 چند میدی؟
                                    </div>
                                    <div id="rate-stars" dir="ltr" class="col col-lg-2 col-md-3 col-4 rating text-right">
                                        <input type="radio" name="rating" id="rate5_0" value="5.0" required /> <label for="rate5_0" title="5.0"  class="star" ></label>
                                        <input type="radio" name="rating" id="rate4_5" value="4.5" required /> <label for="rate4_5" title="4.5" class="star half"></label>
                                        <input type="radio" name="rating" id="rate4_0" value="4.0" required /> <label for="rate4_0" title="4.0" class="star" ></label>
                                        <input type="radio" name="rating" id="rate3_5" value="3.5" required /> <label for="rate3_5" title="3.5" class="star half"></label>
                                        <input type="radio" name="rating" id="rate3_0" value="3.0" required /> <label for="rate3_0" title="3.0" class="star" ></label>
                                        <input type="radio" name="rating" id="rate2_5" value="2.5" required /> <label for="rate2_5" title="2.5" class="star half"></label>
                                        <input type="radio" name="rating" id="rate2_0" value="2.0" required /> <label for="rate2_0" title="2.0" class="star" ></label>
                                        <input type="radio" name="rating" id="rate1_5" value="1.5" required /> <label for="rate1_5" title="1.5" class="star half"></label>
                                        <input type="radio" name="rating" id="rate1_0" value="1.0" required /> <label for="rate1_0" title="1.0" class="star" ></label>
                                        <input type="radio" name="rating" id="rate0_5" value="0.5" required /> <label for="rate0_5" title="0.5" class="star half"></label>
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-4 text-left">
                                        <button type="submit" class="btn btn-success btn-block btn-shaking text-center"><b>پست</b></button>
                                    </div>
                                {% else %}
                                    <div>برای ادای فیلان بیسار باید ابتدا
                                        <a href="{% url 'login' %}">وارد اکانت</a>
                                        خود شوید</div>
                                {% endif %}
                            </div>
                        </div>
                    </form>
                <hr />
                </div> <!-- col.// -->
                <div class="col-12 text-right">
                    <hr />
                    <div dir="rtl" class="box mb-3 bg-transparent">
                        <header class="section-heading">
                            <h3>فیلان بیسارها:</h3>
                        </header>
                        {% for review in reviews %}
                            <article dir="rtl" class="box mb-3 comment">
                                <div class="icontext w-100">
                                    <div class="text">
                                        <span dir="ltr" class="date text-muted float-md-left">{{ review.updated_at }}</span>
                                        <h4 class="mb-1">{{ review.user }}</h4>
                                        <div dir="ltr" class="text-left mt-2">
                                            <i class="fa fa-star{% if review.rating == 0.5 %}-half-o{% elif review.rating < 1 %}-o {% endif %}" aria-hidden="true"></i>
                                            <i class="fa fa-star{% if review.rating == 1.5 %}-half-o{% elif review.rating < 2 %}-o {% endif %}" aria-hidden="true"></i>
                                            <i class="fa fa-star{% if review.rating == 2.5 %}-half-o{% elif review.rating < 3 %}-o {% endif %}" aria-hidden="true"></i>
                                            <i class="fa fa-star{% if review.rating == 3.5 %}-half-o{% elif review.rating < 4 %}-o {% endif %}" aria-hidden="true"></i>
                                            <i class="fa fa-star{% if review.rating == 4.5 %}-half-o{% elif review.rating < 5 %}-o {% endif %}" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="mt-3 mx-5">
                                    {{ review.comment }}
                                </div>
                            </article>
                        {% endfor %}
                    </div>
                </div>
            </div> <!-- row.// -->

        </div> <!-- container .//  -->
    </section>
{% endblock %}