{% extends 'layout.html' %}
{% load static %}
{% block content %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/table.css' %}">

    <div class="container" style="width: 50%;padding: 50px;background: #f1f1f1;margin: 50px auto;">
        <div class="row invoice row-printable">
            <div class="col-md-12">
                <!-- col-lg-12 start here -->
                <div class="panel panel-default plain" id="dash_0">
                    <!-- Start .panel -->
                    <div class="panel-body">
                        <div dir="rtl" class="row text-right">
                            <!-- Start .row -->

                            <!-- col-lg-6 end here -->
                            <div class="text-center col-12">
                                <!-- col-lg-6 start here -->
                                <div class="invoice-from">
                                    <strong>مشخصات گیرنده</strong>
                                    <ul style="border-top: 1px dashed black; list-style-type: none" class="w-100 text-right" >
                                        <li> نام: <strong class="mx-5">{{ order.receiver }}</strong></li>
                                        <li> آدرس: <strong class="mx-5">{{ order.receiver.province }}, {{ order.receiver.city }}, {{ order.receiver.address }} </strong></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- col-lg-6 end here -->

                            <div class="col-lg-12">
                                <!-- col-lg-12 start here -->
                                <div class="invoice-details mt25">
                                    <div class="well">
                                        <ul lass="list-unstyled mb0" style="list-style-type: none">
                                            <li>سفارش:<strong class="mx-4"> {{ order.key  }}@ </strong></li>
                                            <li>تراکنش<strong class="mx-4"> {{ order.transaction.receipt.reference_id }} </strong></li>
                                            <li>تاریخ:<strong class="mx-4"> {{ order.date_created }} </strong> </li>
                                            <li>وضعیت:<strong class="mx-4"> {{ order.status_fa }} </strong></li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="invoice-items">
                                    <div class="container-table-orders m-0 p-0" style="overflow: hidden; outline: none;" tabindex="0">
                                    <div class="wrap-table-orders m-0 p-0">

                                        <table class="table-orders table-bordered">
                                            <thead>
                                                <tr>
                                                    <th class="table-column-1 text-center">کالا</th>
                                                    <th class="table-column-1 text-center">تعداد</th>
                                                    <th class="table-column-1  text-center">هزینه (تومن)</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            {% for item in items  %}
                                                <tr>
                                                    <td  class="table-column-1 text-center p-4">
                                                        {{ item.product }}
                                                            {% if item.variations.all  %}
                                                                {% for v in item.variations.all %}
                                                                    <p class="text-muted my-0">
                                                                        {{ v.parameter_fa }} : {{ v.value | capfirst }}
                                                                    </p>
                                                                {% endfor %}
                                                            {% endif %}
                                                    </td>
                                                    <td class="table-column-1 text-center p-3">1</td>
                                                    <td class="table-column-1 text-center p-3">{{ item.cost }}</td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                            <tfoot>
                                                <tr >
                                                    <th class="text-right p-4">جمع اولیه</th>
                                                    <th colspan="2"  class="text-center p-3">{{ order.cost }}</th>
                                                </tr>
                                                <tr>
                                                    <th class="text-right p-4">تخفیفات</th>
                                                    <th colspan="2" class="text-center p-3">{{ order.discounts }}-</th>
                                                </tr>
                                                <tr>
                                                    <th class="text-right p-4">هزینه ارسال</th>
                                                    <th colspan="2" class="text-center p-3">{{ order.shipping_cost }}</th>
                                                </tr>
                                                <tr>
                                                    <th class="text-right p-4">قیمت آخر</th>
                                                    <th colspan="2" class="text-center p-3">{{ order.must_be_paid }}</th>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                    </div>
                                </div>
                            </div>
                            <!-- col-lg-12 end here -->
                        </div>
                        <!-- End .row -->
                    </div>
                </div>
                <!-- End .panel -->
            </div>
            <!-- col-lg-12 end here -->
        </div>
    </div>
{% endblock %}