{% extends 'layout.html' %}
{% load static %}

{% block content %}
<!-- ========================= SECTION CONTENT ========================= -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/table.css' %}">

    <section class="section-content padding-y bg text-center">
        <div class="container">

            <div class="row">

                {% include 'dashboard/sidebar.html' %}
                <main class="col-lg-9 text-right mt-4">
                    <div class="table-orders-limiter">
                        <div class="container-table-orders">
                            <div class="wrap-table-orders">
                                {% include 'includes/toast.html' %}
                                <table class="table-orders">
                                    <thead>
                                        <tr class="table-orders-head">
                                            <th class="table-column-1 text-center"> شماره سفارش</th>
                                        {% if your_orders.count %}
                                            <th class="table-column-1 text-center">به نام</th>
                                            <th class="table-column-1 text-center">هزینه (تومن)</th>
                                            <th class="table-column-1 text-center">وضعیت</th>
                                        {% endif %}
                                        </tr>
                                    </thead>
                                    <tbody dir="rtl" class="table-orders-body text-center">
                                {% if your_orders.count %}
                                    {% for order in your_orders %}
                                        <tr>
                                            <td class="table-column-1 text-center"><a href="{% url 'view-order' order.key %}">{{ order.key }}@</a></td>
                                            <td class="table-column-1 text-center"><b>{{ order.receiver }}</b></td>
                                            <td class="table-column-1 text-center"><b>{{ order.must_be_paid }}</b></td>
                                            <td class="table-column-1 text-center">
                                                <span style="font-size: 16px" class="px-2 badge badge-pill {% if order.status == 'delivered' or order.status == 'sent' %}
                                                                                        badge-success
                                                                                    {% elif  order.status == 'new' or order.status == 'pending' %}
                                                                                        badge-warning
                                                                                    {% elif  order.status == 'certified' %}
                                                                                        badge-info
                                                                                    {% else %}
                                                                                        badge-danger
                                                                                    {% endif %}">
                                                    <b>{{ order.status_fa }}</b>
                                                </span>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                        <tr>
                                            <td class="text-center" >
                                                شما هیچ زد و بندی با ما نداشتی!
                                            </td>
                                        </tr>
                                {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </main>
            </div> <!-- row.// -->
        </div>
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock %}