{% extends 'layout.html' %}

{% block content %}
<section class="section-content text-right  padding-y" style="direction:rtl;min-height:84vh">
<!-- ============================ COMPONENT LOGIN   ================================= -->
	<div class="card mx-auto" style="max-width:380px;margin-top:100px;">
      <div class="card-body">
      <h4 class="card-title mb-4">فراموشی رمز</h4>
      <hr />
      {% include 'includes/toast.html' %}
      <form action="{% url 'forgot_password' %}" method="POST">
          {% csrf_token %}
          <div class="form-group">
			 <input type="email" class="form-control" name="email" placeholder="ایمیل" >
          </div> <!-- form-group// -->

          <div class="form-group">
          	<p> حل شد؟ <a href="{% url 'login' %}" class="px-2">بیا تو...</a></p>
          </div> <!-- form-group form-check .// -->

          <div class="form-group">
              <button type="submit" class="btn btn-primary btn-block expandable-button">اقدام</button>
          </div> <!-- form-group// -->
      </form>
      </div> <!-- card-body.// -->
    </div> <!-- card .// -->

     <p class="text-center mt-4">هنوز نوم نویسی نکردی؟ <a href="{% url 'register' %}">نوم نویسی کن خب!</a></p>
     <br><br>
<!-- ============================ COMPONENT LOGIN  END.// ================================= -->
{% endblock %}