{% extends 'layout.html' %}

{% block content %}
<section class="section-content text-right  padding-y" style="direction:rtl;min-height:84vh">

<!-- ============================ COMPONENT LOGIN   ================================= -->
	<div class="card mx-auto" style="max-width: 380px; margin-top:100px;">
      <div class="card-body">
      <h4 class="card-title mb-4">رمزشب جدید</h4>
      <hr />
      {% include 'includes/toast.html' %}
      <form action="{% url 'reset_password' %}" method="POST">
          {% csrf_token %}
          <div class="form-group">
			<input type="password" class="form-control" name="password" placeholder="رمزشب جدید" />
          </div> <!-- form-group// -->
          <div class="form-group">
			 <input type="password" class="form-control" name="confirm_password" placeholder="تایید رمزشب جدید" />
          </div> <!-- form-group// -->

          <div class="form-group">
              <button type="submit" class="btn btn-primary btn-block expandable-button">آخیش!</button>
          </div> <!-- form-group// -->
      </form>
      </div> <!-- card-body.// -->
    </div> <!-- card .// -->

     <p class="text-center mt-4">هنوز نوم نویسی نکردی؟ <a href="{% url 'register' %}">نوم نویسی کن خب!</a></p>
     <br><br>
<!-- ============================ COMPONENT LOGIN  END.// ================================= -->
{% endblock %}
